# Ignore les dossiers de données .
data/
mlruns/


# Ignore les fichiers de configuration de l'environnement
.env
.DS_Store
.ipynb_checkpoints

# Ignore les fichiers de sortie
*.log
*.csv
__pycache__/
*.pyc
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/models
/notebooks/modèle_avancé/matrice
/notebooks/modèle_simple/matrice
/notebooks/modèle_simple/mlflow
